extends includes/main-layout.pug

block content
    h1(style="text-align:center;color:red;font-size:44pt") 4#[span(style="font-size:34pt") &#128683;]4
    h1(style="text-align:center") Page not found.
    hr